<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sha-BAM Tool</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

  <div class="grid-container">
  <div class="Head">
    <h1>Sha-BAM</h1>
  </div>
  <div class="Body">
    <h2>Search</h2>

    <form action="/stores/" method="post">
      <label>Store # </label>
      <input type="text" name="storeNum" />
      <input type="submit" value="Search" />
    </form>

    <p><a href="/new">New Store</a></p>

  </div>
  <div class="Foot">&copy; Adam Karrer 2021</div>
</div>
  </body>
</html>
