<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Store</title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>

  <div class="grid-container">
  <div class="Head">
    <h1>Sha-BAM</h1>
  </div>
  <div class="Body">
    <h2>New Store</h2>
    <div class="wrapper">

    <form action="/new" method="post">
      <label>Store Name: <input type="text" name="storeName" /></label>
      <label>Store Number: <input type="text" name="storeNumber" /></label>

      <label>Street:  <input type="text" name="street"/></label>
      <label>City: <input type="text" name="city"/></label>
      <label>State: <input type="text" name="state"/></label>
      <label>Zip: <input type="text" name="zip" /></label>

      <label>XB3: <input type="text" name="xb3" /></label>
      <label>XB6: <input type="text" name="xb6" /></label>
      <label>XB7: <input type="text" name="xb7" /></label>
      <label>XG2: <input type="text" name="xg2" /></label>
      <label>XID: <input type="text" name="xid" /></label>
      <label>XI6: <input type="text" name="xi6" /></label>
      <label>XG1v4: <input type="text" name="xg1v4" /></label>
      <label>RNG150: <input type="text" name="rng150" /></label>
      <input type="submit" value="Create" />
      </form><br />
    </div>

    <p>
      <a href="/">Back</a>
    </p>
  </div>
  <div class="Foot">&copy; Adam Karrer 2021</div>
</div>
  </body>
</html>
